* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: #111;
  color: #fff;
}

::-webkit-scrollbar-track {
  background: #5c5c5c;
}
::-webkit-scrollbar {
  width: 12px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #bf9e02;
  border-radius: 15px;
}
